// ==============================
// COLORS
// ==============================

$green-dark: #28482f;
$green-main: #6f9875;
$green-medium: #86a98b;
$green-light: #dfeadf;
$green-soft: #eef5ed;

$cream: #fbfaf3;
$white: #ffffff;

$text: #303b32;
$text-light: #667068;

$border: #dce7dc;


// ==============================
// SHADOW
// ==============================

$shadow: 0 15px 40px rgba(62, 86, 65, 0.10);


// ==============================
// SPACING
// ==============================

$space-xs: 5px;
$space-sm: 10px;
$space-md: 18px;
$space-lg: 28px;
$space-xl: 48px;
$space-xxl: 75px;


// ==============================
// FONT
// ==============================

$font-primary: "Segoe UI", Arial, Helvetica, sans-serif;
$font-heading: Georgia, "Times New Roman", serif;